img{
    padding-inline-end: 50%;
    initial-letter-align: sold;
}
div{background-color: rgb(213, 241, 51);
    /* background-color: red magenta; */
    background-size: cover;
    padding-inline-end:40px;
}
.hold{
    font-size: 30px;
}
.colour{
    color: #ff0015;
    font-size: larger medium;
    margin-top: auto ;
    
}
.dot{
color: hsl(0, 3%, 13%);
background-color: #ff004c; 
border-color: #d2691e;

}
.hot{
    color: #ff004c;
    background-color: aliceblue;
    border-color: aqua;
}
.pot{
    color: aqua;
    background-color: chartreuse;
}
.cot{
    color: burlywood;
    background-color: coral;
}